body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 139, 0.629);
}

.todolist{
text-align: center;
background: rgb(89, 28, 157);
border-radius: 20px;
color: white;
width: 600px;
box-shadow: 5px 5px 5px black;
}

h1{
    text-shadow: 5px 5px 5px black;

}

input#choose{
border :none;
height: 40px;
width: 300px;
padding: 20px;
border: 5px solid white;
border-radius: 20px;
background: orange;
transition: 1s all ;
box-shadow: 5px 5px 5px black;
}

input#choose::placeholder{
    font-size: 1rem;
    color: rgba(88, 28, 157, 0.402);
}
input#choose:hover{
    width: 400px;
}

.todolist ul {
display : block;
text-align: left;
margin: 20px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: orange;
}

.todolist ul li {
    margin: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width : 600px){
    input#choose{
        width: 200px;
    }

    input#choose:hover{
        width: 250px;
    }

    .todolist{
        width: 300px;
    }

    .todolist ul li {
        font-size: 1rem;
    }
}
